@import 'variables';
@import 'base';

.container{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;


    .box{
        color: $color-primary;
        background-color: $color-3;
        border-radius: 8px;
        padding: 20px;

        &.active{
            background-color: $color-2;
        }
        
        h2{
            font: {
                size: 30px;
                weight: 500;
            } 
            margin: {
                top: 10px;
                left: 20px;
                right: 30px;
                bottom: 22px;             
            }
        }

        p{         
            font-size:  18px;

            &.hiden{
                display: none;
            }
        }

        a{
            color: $color-5;

            &:hover{
                color: $color-4;
                & + p.hiden{
                    display: block;
                }
            }

        }

        
    }


}